<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="css/Normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/font-awesome.css">
</head>
<body>
<nav id="head">
    <div class="wrapper">
       <div class="head-left">
           <div><a href="index.html" class="logo"></a></div>
           <div><a href="">演唱会</a></div>
           <div><a href="">音乐会</a></div>
           <div><a href="">话剧歌剧</a></div>
           <div><a href="">体育</a></div>
       </div>
        <div class="head-right">
            <div class="search">
                <input type="text" placeholder="请输入演出,艺人,场馆名称...."><span class="fa fa-search"></span>
            </div>
            <div>
                <img src="img/user.png" alt="">
                <div>
                    <a href="login.html">登录</a> | <a href="register.html">注册</a>
                </div>
            </div>
            <div>
                <span class="fa fa-list fa-lg"></span><a href="">快速导航</a>
                <div style="display: none;">
                    <dl>
                        <dt>客户服务</dt>
                        <dd><a href="">账户服务</a>
                            <a href="">人工服务</a>
                            <a href="">特色产品</a>
                            <a href="">在线客服</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>演出分类</dt>
                        <dd>
                            <a href="">演唱会</a>
                            <a href="">音乐会</a>
                            <a href="">舞蹈芭蕾</a>
                            <a href="">曲苑杂坛</a>
                            <a href="">演唱会</a>
                            <a href="">音乐会</a>
                            <a href="">舞蹈芭蕾</a>
                            <a href="">曲苑杂坛</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>特色服务</dt>
                        <dd>
                            <a href="">超级票</a>
                            <a href="">大麦会员</a>
                            <a href="">场馆库</a>
                            <a href="">演出订阅</a>
                            <a href="">超级票</a>
                            <a href="">大麦会员</a>
                            <a href="">场馆库</a>
                            <a href="">演出订阅</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</nav>


<script>
    "use strict";

</script>
</body>
</html>