
        <div class="wrapper">
            <div>
                <dl>
                    <dt>订购方式</dt>
                    <dd>
                        <a>在线订购</a>
                        <a>电话订购</a>
                        <a>上门订购</a>
                        <a>大客户团体订购</a>
                        <a>大麦超级票订购</a>
                    </dd>
                </dl>
                <dl>
                    <dt>配送方式</dt>
                    <dd>
                        <a>送货上门</a>
                        <a>电子票</a>
                        <a>上门取票</a>
                        <a>大麦自助换票</a>
                    </dd>
                </dl>
                <dl>
                    <dt>支付方式</dt>
                    <dd>
                        <a>在线支付</a>
                        <a>柜台付款</a>
                    </dd>
                </dl>
                <dl>
                    <dt>大麦网微信</dt>
                    <dd>
                        <div><img class="wechat" src="" alt=""></div>
                    </dd>
                </dl>
                <dl>
                    <dt>大麦网触屏版</dt>
                    <dd>
                        <div><img class="touch" src="" alt=""></div>
                    </dd>
                </dl>
                <dl>
                    <dt>账户安全</dt>
                    <dd>
                        <a>找回密码</a>
                        <a>账户注册</a>
                        <a>账户绑定</a>
                        <a>SSL安全证书</a>
                    </dd>
                </dl>
                <dl>
                    <dt>售后服务</dt>
                    <dd>
                        <a>退换及缺货说明</a>
                        <a>发票帮助</a>
                        <a>订票帮助</a>
                        <a>订票服务条款</a>
                    </dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd>
                        <a>超级票</a>
                        <a>大麦会员</a>
                        <a>场馆库</a>
                        <a>演出订阅</a>
                    </dd>
                </dl>
            </div>
            <div>
                <ul>
                    <li><a href="">公司介绍</a></li>
                    <li><a href="">品牌识别</a></li>
                    <li><a href="">企业荣誉</a></li>
                    <li><a href="">联系方式</a></li>
                    <li><a href="">隐私声明</a></li>
                    <li><a href="">合作招商</a></li>
                    <li><a href="">招聘信息</a></li>
                    <li><a href="">网站地图</a></li>
                    <li><a href="">友情链接</a></li>
                </ul>
            </div>
        </div>