		  
		<script src="js/head.js"></script>
<ul class="top-left lf">
                    <li>Hi,欢迎来大麦网 <a href="login.html" class="login">[登录]</a>|<a href="register.html" class="reg">[注册]</a></li>
                    <li><a href="">我的大麦</a><i></i>
                        <div class="myOrder collapse">
                            <div><a href="">我的信息</a></div>
                            <div><a href="">我的订阅</a></div>
                            <div><a href="">我的钱包</a></div>
                            <div><a href="">我的优惠券</a></div>
                        </div>
                    </li>
                    <li><a href="" id="myOrder">我的订单</a></li>
                </ul>
                <ul class="top-right rf">
                    <li>
                        <a href="">大麦网微信</a>
                        <div class="wechat collapse">
                            <div></div>
                        </div>
                    </li>
                    <li><a href="">手机版</a>
                        <div class="app collapse">
                            <div>
                                <p>
                                    <span>扫描我，即刻下载</span> <br> 大麦客户端
                                </p>
                                <ul>
                                    <li><a href=""></a></li>
                                    <li><a href=""></a></li>
                                    <li><a href=""></a></li>
                                    <li><a href=""></a></li>
                                </ul>
                                <p>
                                    <span>手机扫一扫 <br>
                                下单更快捷</span> <br> 大麦M站
                                </p>
                            </div>
                        </div>
                    </li>
                    <li><a href="">客户服务</a><i></i>
                        <div class="service collapse">
                            <div><a href="">账户服务</a></div>
                            <div><a href="">人工服务</a></div>
                            <div><a href="">特色产品</a></div>
                            <div><a href="">帮助中心</a></div>
                            <div><a href="">在线客服</a></div>
                        </div>
                    </li>
                    <li><a href="">网站导航</a><i></i>
                        <div class="citySel collapse">
                            <dl>
                                <dt>特色服务</dt>
                                <dd>
                                    <ul>
                                        <li><a>超级票</a></li>
                                        <li><a>大麦会员</a></li>
                                        <li><a>场馆库</a></li>
                                        <li><a>演出订阅</a></li>
                                        <li><a>精彩专题</a></li>
                                        <li><a>手机购票</a></li>
                                        <li><a>电子钱包</a></li>
                                        <li><a>英文频道</a></li>
                                        <li><a>防诈骗</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>演出分类</dt>
                                <dd>
                                    <ul>
                                        <li><a title="演唱会">演唱会</a></li>
                                        <li><a title="音乐会">音乐会</a></li>
                                        <li><a title="舞蹈芭蕾">舞蹈芭蕾</a></li>
                                        <li><a title="曲苑杂坛">曲苑杂坛</a></li>
                                        <li><a title="体育比赛">体育比赛</a></li>
                                        <li><a title="度假休闲">度假休闲</a></li>
                                        <li><a title="儿童亲子">儿童亲子</a></li>
                                        <li><a title="话剧歌剧">话剧歌剧</a></li>
                                        <li><a title="动漫">动漫</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>城市切换</dt>
                                <dd>
                                    <ul>
                                        <li>
                                            <a title="北京" href="//www.damai.cn/bj/" target="_blank">北京</a>
                                        </li>
                                        <li>
                                            <a title="广州" href="//www.damai.cn/gz/" target="_blank">广州</a>
                                        </li>
                                        <li>
                                            <a title="上海" href="//www.damai.cn/sh/" target="_blank">上海</a>
                                        </li>
                                        <li>
                                            <a title="南京" href="//www.damai.cn/nj/" target="_blank">南京</a>
                                        </li>
                                        <li>
                                            <a title="香港" href="//www.damai.cn/hk/" target="_blank">香港</a>
                                        </li>
                                        <li>
                                            <a title="台州" href="//www.damai.cn/taizhou/" target="_blank">台州</a>
                                        </li>
                                        <li>
                                            <a title="西安" href="//www.damai.cn/xa/" target="_blank">西安</a>
                                        </li>
                                        <li>
                                            <a title="杭州" href="//www.damai.cn/hz/" target="_blank">杭州</a>
                                        </li>
                                        <li>
                                            <a title="成都" href="//www.damai.cn/cd/" target="_blank">成都</a>
                                        </li>
                                        <li>
                                            <a title="重庆" href="//www.damai.cn/cq/" target="_blank">重庆</a>
                                        </li>
                                        <li>
                                            <a title="宁波" href="//www.damai.cn/ningbo/" target="_blank">宁波</a>
                                        </li>
                                        <li>
                                            <a title="无锡" href="//www.damai.cn/wuxi/" target="_blank">无锡</a>
                                        </li>
                                        <li>
                                            <a title="深圳" href="//www.damai.cn/sz/" target="_blank">深圳</a>
                                        </li>
                                        <li>
                                            <a title="武汉" href="//www.damai.cn/wuhan/" target="_blank">武汉</a>
                                        </li>
                                        <li>
                                            <a title="济南" href="//www.damai.cn/jn/" target="_blank">济南</a>
                                        </li>
                                        <li>
                                            <a title="昆明" href="//www.damai.cn/km/" target="_blank">昆明</a>
                                        </li>
                                        <li>
                                            <a title="南宁" href="//www.damai.cn/nn/" target="_blank">南宁</a>
                                        </li>
                                        <li>
                                            <a title="佛山" href="//www.damai.cn/foshan/" target="_blank">佛山</a>
                                        </li>
                                        <li>
                                            <a title="太原" href="//www.damai.cn/ty/" target="_blank">太原</a>
                                        </li>
                                        <li>
                                            <a title="哈尔滨" href="//www.damai.cn/hrb/" target="_blank">哈尔滨</a>
                                        </li>
                                        <li>
                                            <a title="南昌" href="//www.damai.cn/nanchang/" target="_blank">南昌</a>
                                        </li>
                                        <li>
                                            <a title="温州" href="//www.damai.cn/wenzhou/" target="_blank">温州</a>
                                        </li>
                                        <li>
                                            <a title="长沙" href="//www.damai.cn/cs/" target="_blank">长沙</a>
                                        </li>
                                        <li>
                                            <a title="福州" href="//www.damai.cn/fuzhou/" target="_blank">福州</a>
                                        </li>
                                        <li>
                                            <a title="天津" href="//www.damai.cn/tj/" target="_blank">天津</a>
                                        </li>
                                        <li>
                                            <a title="苏州" href="//www.damai.cn/suz/" target="_blank">苏州</a>
                                        </li>
                                        <li>
                                            <a title="郑州" href="//www.damai.cn/zhengzhou/" target="_blank">郑州</a>
                                        </li>
                                        <li>
                                            <a title="东莞" href="//www.damai.cn/dg/" target="_blank">东莞</a>
                                        </li>
                                        <li>
                                            <a title="贵阳" href="//www.damai.cn/gy/" target="_blank">贵阳</a>
                                        </li>
                                        <li>
                                            <a title="石家庄" href="//www.damai.cn/sjz/" target="_blank">石家庄</a>
                                        </li>
                                        <li>
                                            <a title="厦门" href="//www.damai.cn/xiamen/" target="_blank">厦门</a>
                                        </li>
                                        <li>
                                            <a title="沈阳" href="//www.damai.cn/sy/" target="_blank">沈阳</a>
                                        </li>
                                        <li>
                                            <a title="常州" href="//www.damai.cn/changzhou/" target="_blank">常州</a>
                                        </li>
                                        <li>
                                            <a title="呼和浩特" href="//www.damai.cn/huhehaote/" target="_blank">呼和浩特</a>
                                        </li>
                                        <li>
                                            <a title="长春" href="//www.damai.cn/changchun/" target="_blank">长春</a>
                                        </li>
                                        <li>
                                            <a title="青岛" href="//www.damai.cn/qd/" target="_blank">青岛</a>
                                        </li>
                                        <li>
                                            <a title="海口" href="//www.damai.cn/haikou/" target="_blank">海口</a>
                                        </li>
                                        <li>
                                            <a title="乌鲁木齐" href="//www.damai.cn/wulumuqi/" target="_blank">乌鲁木齐</a>
                                        </li>
                                        <li>
                                            <a title="珠海" href="//www.damai.cn/zhuhai/" target="_blank">珠海</a>
                                        </li>
                                        <li>
                                            <a title="大连" href="//www.damai.cn/dl/" target="_blank">大连</a>
                                        </li>
                                        <li>
                                            <a title="澳门" href="//www.damai.cn/aomen/" target="_blank">澳门</a>
                                        </li>
                                        <li>
                                            <a title="洛阳" href="//www.damai.cn/luoyang/" target="_blank">洛阳</a>
                                        </li>
                                        <li>
                                            <a title="泉州" href="//www.damai.cn/quanzhou/" target="_blank">泉州</a>
                                        </li>
                                        <li>
                                            <a title="中山" href="//www.damai.cn/zs/" target="_blank">中山</a>
                                        </li>
                                        <li>
                                            <a title="惠州" href="//www.damai.cn/huizhou/" target="_blank">惠州</a>
                                        </li>
                                        <li>
                                            <a title="合肥" href="//www.damai.cn/hf/" target="_blank">合肥</a>
                                        </li>
                                        <li>
                                            <a title="柳州" href="//www.damai.cn/lz/" target="_blank">柳州</a>
                                        </li>
                                        <li>
                                            <a title="银川" href="//www.damai.cn/ych/" target="_blank">银川</a>
                                        </li>
                                        <li>
                                            <a title="桂林" href="//www.damai.cn/gl/" target="_blank">桂林</a>
                                        </li>
                                        <li>
                                            <a title="海外" href="//www.damai.cn/hwz/" target="_blank">海外</a>
                                        </li>
                                        <li>
                                            <a title="西宁" href="//www.damai.cn/xn/" target="_blank">西宁</a>
                                        </li>
                                        <li>
                                            <a title="绍兴" href="//www.damai.cn/sx/" target="_blank">绍兴</a>
                                        </li>
                                        <li>
                                            <a title="江门" href="//www.damai.cn/jiangmen/" target="_blank">江门</a>
                                        </li>
                                        <li>
                                            <a title="金华" href="//www.damai.cn/jinhua/" target="_blank">金华</a>
                                        </li>
                                        <li>
                                            <a title="北海" href="//www.damai.cn/beihai/" target="_blank">北海</a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li><a href="">English</a></li>
				</ul>
		