<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>大麦网</title>
    <link rel="stylesheet" href="css/Normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
   <script src="js/jquery-1.11.3.js"></script>
</head>

<body>
    <header>
        <nav id="top">
            <div class="wrapper">

            </div>
        </nav>
        <div id="header">
            <div class="wrapper">
                <div class="header_box">
                    <div class="logo"></div>
                    <div class="area">
                        <a href="">全国</a>
                        <a href=""><i class="fa fa-map-marker"></i>推荐进入上海站</a>
                    </div>
                    <div class="search">
                        <input type="text">
                        <div class="btn-search">搜索</div>
                        <div class="hotwords">
                            <a href="">林志炫</a>
                            <a href="">魔笛</a>
                            <a href="">国际冠军杯</a>
                            <a href="">盗墓笔记</a>
                            <a href="">驴得水</a>
                            <a href="">藏海花</a>
                        </div>
                    </div>
                </div>
                <nav class="navbar">
                    <ul>
                        <li><a href="">全部商品分类</a>
                            <ul class="dropdown">
                                <li><a><span>演唱会</span></a>
                                    <div class="playerList">
                                        <dl class="bread">
                                            <dt>演唱会</dt>
                                            <dd><span>></span><a href="">流行</a><span>|</span>
                                                <a href="">摇滚</a><span>|</span>
                                                <a href="">民族</a><span>|</span>
                                                <a href="">音乐</a>
                                            </dd>
                                        </dl>
                                        <p>相关热门</p>
                                        <div class="info">
                                            <dl>
                                                <dt><a href=""><img src="img/info/1.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/2.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/3.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/4.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/5.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li><a><span>音乐会</span></a>
                                    <div class="playerList">
                                        <dl class="bread">
                                            <dt>音乐会</dt>
                                            <dd><span>></span><a href="">管弦乐</a><span>|</span>
                                                <a href="">独奏</a><span>|</span>
                                                <a href="">室内乐及古乐</a>
                                            </dd>
                                        </dl>
                                        <p>相关热门</p>
                                        <div class="info">
                                            <dl>
                                                <dt><a href=""><img src="img/info/2-1.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/2-2.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/2-3.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/2-4.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/2-5.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li><a><span>曲苑杂坛</span></a>
                                    <div class="playerList">
                                        <dl class="bread">
                                            <dt>演唱会</dt>
                                            <dd><span>></span><a href="">流行</a><span>|</span>
                                                <a href="">摇滚</a><span>|</span>
                                                <a href="">民族</a><span>|</span>
                                                <a href="">音乐</a>
                                            </dd>
                                        </dl>
                                        <p>相关热门</p>
                                        <div class="info">
                                            <dl>
                                                <dt><a href=""><img src="img/info/3-5.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/3-4.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/3-3.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/3-2.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/3-1.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li><a><span>话剧歌剧</span></a>
                                    <div class="playerList">
                                        <dl class="bread">
                                            <dt>演唱会</dt>
                                            <dd><span>></span><a href="">流行</a><span>|</span>
                                                <a href="">摇滚</a><span>|</span>
                                                <a href="">民族</a><span>|</span>
                                                <a href="">音乐</a>
                                            </dd>
                                        </dl>
                                        <p>相关热门</p>
                                        <div class="info">
                                            <dl>
                                                <dt><a href=""><img src="img/info/4-1.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/4-2.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/4-3.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/4-4.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/4-5.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li><a><span>体育比赛</span></a>
                                    <div class="playerList">
                                        <dl class="bread">
                                            <dt>演唱会</dt>
                                            <dd><span>></span><a href="">流行</a><span>|</span>
                                                <a href="">摇滚</a><span>|</span>
                                                <a href="">民族</a><span>|</span>
                                                <a href="">音乐</a>
                                            </dd>
                                        </dl>
                                        <p>相关热门</p>
                                        <div class="info">
                                            <dl>
                                                <dt><a href=""><img src="img/info/5-1.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/5-2.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/5-3.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/5-4.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/5-5.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li><a><span>舞台芭蕾</span></a>
                                    <div class="playerList">
                                        <dl class="bread">
                                            <dt>演唱会</dt>
                                            <dd><span>></span><a href="">流行</a><span>|</span>
                                                <a href="">摇滚</a><span>|</span>
                                                <a href="">民族</a><span>|</span>
                                                <a href="">音乐</a>
                                            </dd>
                                        </dl>
                                        <p>相关热门</p>
                                        <div class="info">
                                            <dl>
                                                <dt><a href=""><img src="img/info/6-1.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/6-2.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/6-3.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/6-4.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/6-5.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li><a><span>度假休闲</span></a>
                                    <div class="playerList">
                                        <dl class="bread">
                                            <dt>演唱会</dt>
                                            <dd><span>></span><a href="">流行</a><span>|</span>
                                                <a href="">摇滚</a><span>|</span>
                                                <a href="">民族</a><span>|</span>
                                                <a href="">音乐</a>
                                            </dd>
                                        </dl>
                                        <p>相关热门</p>
                                        <div class="info">
                                            <dl>
                                                <dt><a href=""><img src="img/info/7-1.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/7-2.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/7-3.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/7-4.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><a href=""><img src="img/info/7-5.jpg" alt=""></a></dt>
                                                <dd>
                                                    <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                                                    <span>票价: <span>¥500.00起</span></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li><a><span>儿童亲子</span></a>
                                </li>
                                <li><a><span>动漫</span></a></li>
                            </ul>
                        </li>
                        <li><a href="">戏剧</a></li>
                        <li><a href="">体育</a></li>
                        <li><a href="">亲子</a></li>
                        <li><a href="">摇滚</a></li>
                        <li><a href="">舞蹈古典</a>
                        </li>
                        <li><img src="img/20160523160207663.jpg" alt=""></li>
                    </ul>
                </nav>
            </div>
            <div class="slide">
                <ul id="slide-ul">
                    <li class="active"><a href=""><img src="img/slide/1.jpg" alt=""></a></li>
                    <li><a href=""><img src="img/slide/2.jpg" alt=""></a></li>
                    <li><a href=""><img src="img/slide/3.jpg" alt=""></a></li>
                    <li><a href=""><img src="img/slide/4.jpg" alt=""></a></li>
                    <li><a href=""><img src="img/slide/5.jpg" alt=""></a></li>
                    <li><a href=""><img src="img/slide/6.jpg" alt=""></a></li>
                    <li><a href=""><img src="img/slide/7.jpg" alt=""></a></li>
                </ul>
                <div class="slide-indication">
                    <div class="wrapper">
                        <ul class="slide-title">
                            <li><a href="">01.三体</a></li>
                            <li><a href="">02.三体</a></li>
                            <li class="active"><a href="">03.三体</a></li>
                            <li><a href="">04.三体</a></li>
                            <li><a href="">05.三体</a></li>
                        </ul>
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div id="news1">
            <div class="wrapper">
                <ul class="head">
                    <li class="active" rid="1"><a href="">猜您喜欢</a>
                    </li>
                    <li rid="2"><a href="">今日推荐</a>
                    </li>
                    <li rid="3"><a href="">即将开票/预售</a>
                    </li>
                </ul>
                <div class="info active">
                    <dl>
                        <dt><a href=""><img src="img/info/3-5.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-5.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-4.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-3.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-2.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-1.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <a href="" class="refresh"><i class="fa fa-refresh"></i> 换一换</a>
                </div>
                <div class="info ">
                    <dl>
                        <dt><a href=""><img src="img/info/3-5.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-5.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-4.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-3.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-2.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-1.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt><a href=""><img src="img/info/3-5.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-5.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-4.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-3.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-2.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href=""><img src="img/info/3-1.jpg" alt=""></a></dt>
                        <dd>
                            <a href="">Ariana Grande 爱莉安娜∙格兰德2017广州演唱会</a>
                            <span>票价: <span>¥500.00起</span></span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div id="news2">
            <div class="wrapper">
                <div class="left">
                    <div class="s1">
                        <div>
                            <p>魏晨旅程十周年</p>
                            <div class="station">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/20170720113836457_238_362.png" alt=""></div>
                    <div class="s2">
                        <div>
                            <div class="station station-2">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects collects-2"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/20161129100430723.jpg" alt=""></div>

                    <div class="s3">
                        <div>
                            <div class="station station-2">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects collects-2"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/20170316103222161_114_114.jpg" alt=""></div>

                    <div class="s4">
                        <div>
                            <div class="station station-2">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects collects-2"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/20170109152233446.jpg" alt=""></div>

                    <div class="s5">
                        <div>
                            <div class="station station-2">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects collects-2"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/20170609170128650_114_114.jpg" alt=""></div>
                    <div class="s6">
                        <div>
                            <div class="station station-2">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects collects-2"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/20170710163336965_114_114.jpg" alt=""></div>
                    <div class="s7">
                        <div>
                            <div class="station station-2">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects collects-2"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/2017071016142768_238_238.png" alt=""></div>
                    <div class="s8">
                        <div>
                            <div class="station station-2">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects collects-2"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/20170213095145265_238_114.jpg" alt=""></div>
                    <div class="s9">
                        <div>
                            <div class="station station-2">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects collects-2"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/20161129100430723.jpg" alt=""></div>
                    <div class="s10">
                        <div>
                            <div class="station station-2">
                                <p><a>北京站</a><a>成都站</a></p>
                            </div>
                            <p class="collects collects-2"><a href="">巡演专题</a></p>
                        </div>
                        <img src="img/news2/20170719105740993_114_114.jpg" alt=""></div>
                    <div class="s11">
                        <img src="img/news2/s-12.jpg" alt=""></div>
                </div>
                <div class="right">
                    <a><img src="img/news2/20170710164137598.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer"></footer>

 
    <script src="js/index.js"></script>
    <script>
        "use strict";
    </script>
</body>

</html>