<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户注册</title>
    <link rel="stylesheet" href="css/Normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/reg.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link href="css/toastr.css" rel="stylesheet"/>
</head>
<body>
<div id="b-top">
    <div class="wrapper">
        <a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
        <h1>欢迎登录</h1>
    </div>
</div>
<div id="b-body">
    <div class="wrapper">
        <div>
            <form action="" id="b-regbody" method="post">
                <div><span class="fa fa-phone fa-2x"></span><input type="text" name="uname" placeholder="请输入用户名"> <label>请输入用户名,由6-9位数字,字母组成</label></div>
                <div><span class="fa fa-key fa-2x"></span><input type="text" name="upwd"placeholder="登录密码"> <label>密码由6-12个字符,数字和字母组合,区分大小写</label></div>
                <div><span class="fa fa-key fa-2x"></span><input type="text" name="upwd1" placeholder="确认密码"> <label>请再次输入登录密码</label></div>
                <div><span class="fa fa-paw fa-2x"></span><input type="text" name="valid" placeholder="验证码"><label>请输入验证码</label></div>
                <div><input type="submit" id="btn-reg" value="立即注册"></div>
            </form>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="wrapper">
        <div>
            <ul>
                <li><a href="">公司介绍</a></li>
                <li><a href="">品牌识别</a></li>
                <li><a href="">企业荣誉</a></li>
                <li><a href="">联系方式</a></li>
                <li><a href="">隐私声明</a></li>
                <li><a href="">合作招商</a></li>
                <li><a href="">招聘信息</a></li>
                <li><a href="">网站地图</a></li>
                <li><a href="">友情链接</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/toastr.js"></script>
<script src="js/reg.js"></script>
<script>
    "use strict";

</script>
</body>
</html>