#order div.box {
  padding: 60px 20px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}
#order div.box > div.left,
#order div.box > div.right {
  float: left;
}
#order div.left > ul {
  width: 200px;
}
#order div.left > ul > li {
  display: block;
  padding: 10px 0;
  text-align: center;
}
#order div.left > ul > li:not(:nth-child(1)) {
  transition: all 0.8s ease;
  margin: 8px 40px;
  border-bottom: 1px solid #e5e5e5;
}
#order div.left > ul > li:not(:nth-child(1)) > a {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #777;
}
#order div.left > ul > li:not(:nth-child(1)):hover {
  cursor: pointer;
}
#order div.left > ul > li:not(:nth-child(1)):hover > a {
  color: #E51B46;
}
#order div.left > ul > li.active {
  cursor: pointer;
}
#order div.left > ul > li.active > a {
  color: #E51B46;
}
#order div.right {
  width: 930px;
  min-height: 560px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}
#order div.right > table {
  display: table;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
#order div.right tr,
#order div.right td {
  height: 40px;
  font-size: 13px;
  border-bottom: 1px solid #e5e5e5;
}
#order div.right td:not(:nth-child(1)) {
  border-left: 1px solid #e5e5e5;
}
